.heading {
    text-decoration: none;
    color: white
}

.heading:hover {
    color: black;
}

.exit:hover {
    background-color: white;
    color: red
}

.exit {
    background-color: transparent;
    color: white;
}