.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  footer {
    align-items: center;
    text-align: center;
    padding: 1em;
  }
  
  header {
    text-align: center;
    padding: .5em;
    background-color: red;
    color: white;
  }