.footer {
    background: #1b2a41;
    color: #eafdf8;
    width: 100%;
    padding: .5em auto;
    margin: auto;
    flex-shrink: 0;
}

.footer a {
    color: #eafdf8;
}

.footer a:hover {
    color: #93032e;
}

.footer p {
    margin: .5em;
}

/* ["eafdf8","888098","1b2a41","93032e","0fa3b1"] */
