.title {
    text-align: center;
    background-color: #1b2a41;
}

.title h1 {
    color: black;

}

.title h1:hover {
    color: #93032e;
}

.link {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: #eafdf8;
}

.link {
    color: #93032e;
}

/* ["eafdf8","888098","1b2a41","93032e","0fa3b1"] */
