.header{
    text-align: center;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    margin: .5em;
}

.contactButton {
    text-decoration: none;
}

.contactButton:hover {
    cursor: pointer;
    color: black;
}

