.contain {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 10%;
  padding-bottom: .5em;
}

.links:hover{
  color: white;
}

.icons {
  color: white;
}

.icons:hover{
  color: grey;
  cursor: pointer;
}

