.contain {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: grey;
  padding: 0 10%;
  padding-bottom: .5em;
}
.links{
  color: white;
}

.links:hover{
  color: black;
}

.icons:hover{
  color: black;
  cursor: pointer;
}